@font-face {
    font-family: "cursive";
    src: url('externalContent/Camilla\ Ahoy.otf');
}
@font-face {
    font-family: 'caviar';
    src: url('externalContent/CaviarDreams.ttf');
}
:root{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    grid-template-columns:1fr 1fr;
    grid-template-rows: min-content;
    display:grid;
    font-family: 'caviar';
    font-weight: 500;
    min-height: 100vh;
}
.header{
    grid-row: 1/2;
    grid-column: 1/3;
    border-bottom:1px gray solid;
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin:0;
    margin-right: -5vw;

}
.header h2{
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: 'cursive';
    font-size: 1.5rem;
   
}
.header .addItem{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: .75rem;
    font-family: 'caviar';
    color:black;
    background-color: white;
    font-weight: bolder;
    background: none;
    border:none;
    margin-right: 8vw;
}
.hiddenContainer{
    grid-row: 2/3;
    grid-column: 2/3;
    display:none;
    
}
.form{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right:10px;
}
form{
    background:linear-gradient(to bottom, rgba(0, 0, 255, 0.349),white);
    grid-row: 2/3;
    grid-column: 2/4;
    padding:5vw;
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    flex:1;
    gap:1vh;
    justify-content: center;
    font-size: .8rem;
}
form .formHeader{
    display: grid;
    grid-template-columns: 3fr auto;
    grid-template-rows: min-content;
    font-size: 1rem;
    gap:0;
}
form .formHeader h4{
    grid-row: 2/3;
    grid-column: 1/-1;
    margin:0;
    justify-self: center;
}
form .formHeader .exit{
    grid-row: 1/2;
    grid-column: 2/-1;
    font-weight: bolder;
    align-self: top;
    background:white;
    border: none;
    border-radius: 15px;
    height:1rem;
    width:1rem; 
    font-size: .5rem;   
}
.inputContainer{
  display: grid;
  grid-template-rows: repeat(3, min-content);
}
.error{
  width:85%;
  padding: 0;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
  background-color: none;
}
.error.active{
  padding: 0.3em;
  font-size: 80%;
  color: white;
  background-color: #900;
  margin-top: 5px;
}

form input, .readStatus{
    font-family: 'caviar';
    font-size: .8rem;
    width:85%;
}
form .addBtn{
    justify-self: center;
    align-self: center;
    background-color: rgb(224, 121, 4);
    border-radius: 15px;
    border: none;
    font-family: 'caviar';
    font-weight: bolder;
    width:100%;
    margin: 20px 0;
}
.outputText{
    grid-column: 1/2;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: min-content;
    gap: 2vh;
    margin-right: 5%;
    padding:0;
}
.outputText li{
    display:grid;
    width:100%;
    grid-template-columns:auto;
    align-self: top;
    justify-content: center;
    border:none;
    box-shadow: inset 1px 1px 30px 30px rgba(224, 223, 223, 0.178), 1px 1px 9px 2px rgba(71, 71, 71, 0.178);
    gap:1vh;
    padding-left:2vw;
    font-size: 1rem;
}
li .title, .author, .pages, .readBtn{
    justify-self: center;
    display: grid;
}
li .title{
    grid-column: 1/2;
    grid-row: 2/3;
}
li .author{
    grid-column: 1/2;
    grid-row: 3/4;
}
li .pages{
    grid-column: 1/2;
    grid-row: 4/5;
}
li .readBtn{
    grid-column: 1/2;
    grid-row: 5/6;
    border:none;
    border-radius: 15px;
    background-color: rgba(9, 255, 0, 0.288);
    align-self: center;
    display: grid;
    align-items: center;
    justify-self: center;
    width:100%;
    margin:2vh 0;
    font-size: .7rem;
}
li .deleteBtn{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    align-self: flex-start;
    justify-self: right;
    font-weight: bold;
    border:none;
    background: none;
    font-size: .7rem;
    padding:5px;
}
.footer{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom:0;
    background: linear-gradient(to top, green, white);
    font-size: .5rem;
    width:100%;
    height:2rem;
    padding-left:10%;
    margin-left:-10%;
}
.footer img{
    height:1.5rem;
    width: auto;
}

@media only screen and (min-width:1100px) { 
    body{        
        grid-template-columns:clamp(500px,60vw,1400px) clamp(280px,40vw,896px);
    }
    .header h2{
        padding-left: 10vw;
        font-size: 2rem;
        margin:0;
    }
    .header .addItem{
        position: fixed;
        right:0;
        margin-right: 0vw;
        margin-bottom: 3vh;
        height:3vh; 
        font-size: 2rem;
        background-color: white;
    }
    form .formHeader{
        justify-content: left;
        text-align: left;
        padding-top: 10px;
    }
    form .formHeader .exit{
        margin-right: -2vw;
        height: 2rem;
        width:2rem;
        font-size: 1rem;
    }
    .form{
        position: fixed;
        right:0;
    }
    .form h4{
        padding-bottom: 2rem;
        font-size: 2rem;
    }
    form{
        font-size: 1.5rem;
        padding:0 3vw;
        gap:2vh;
    }
    form input, .readStatus, option{
        font-size:1.5rem;
    }
    form .addBtn{
        width: 65%;
        height:2rem;
        font-size: 1.5rem;
    }
    .outputText{
        grid-template-columns: repeat(3,min-content);
        margin: 0;
        margin-top: 3%;
    }
    .outputText li{
        grid-template-columns:15vw 5vw;
        grid-template-rows: 1.5vh repeat(4,clamp(40px, 3rem,70px));
        padding:0;
        margin-top:0;
        font-size: 1.3rem;
    }
     li .title, .author, .pages, .readBtn{
        margin: 0 4%;
        gap:10px;
        font-size: 1.2rem;
        justify-self: center;
    }
    li .title, .author, .pages{
        margin-right:-5vw;
    }
    li .title{
        margin-top: 1vh;
    }
    li .readBtn{
        grid-column: 1/3;
        width:90%;
        height:70%;
        min-width:130px;
    }
    li .deleteBtn{
        border-radius: 15px;
        height:2.5vw;
        width: 2.5vw;
        min-height: 9px;
        min-width: 9px;
        font-size: .8rem; 
    }
    button:hover{
        cursor: pointer;
    }
    .footer{
        display:none;
    }
}
/* @media only screen and (max-width:500px) { 
    body{
        grid-template-columns: repeat(4,25vw);
    }
    .outputText{
        grid-template-columns: repeat(3,1fr);
    }
    li{
        grid-template-columns: repeat(2,1fr);
    }

} */